name: Read Tag from File and build using tag as baseline

on: 
  push:
    branches: 
      - '*'
    paths:
      - '**.cbl'

jobs:
  Build-Feature-Branch-Rules:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Read tag from file and set as output
        id: readfile
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            try {
              const tag = fs.readFileSync('TAG.txt', 'utf8');
              console.log(`Tag value is ${tag}`);
              core.setOutput('tag', tag);
            } catch (error) {
              console.log('You need to work on a valid feature branch');
              core.setFailed('TAG.txt file not found');
            }

      # Example step using the output
      - name: Use the Tag
        if: success()
        run: echo "The previous production release tag value is ${{ steps.readfile.outputs.tag }}"
